<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="data.css"/>
  <title>Document</title>
</head>
<body>
    <%- include('header',{username:name}) %>
    <table border="2">
        <caption>
            <h2>USERS</h2>
        </caption>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Work</th>
            <th>Email</th>
            <th>Address</th>
            <th>OptedIn</th>
        </thead>
        <%data.forEach(value=>{ %>
            <tr>
                <td><%= value.id %></td>  
                <td><%= value.name %></td>  
                <td><%= value.work %></td>  
                <td><%= value.email %></td>  
                <td><%= value.address %></td>  
                <td><%= value.optedin %></td> 
            </tr> 
        <% }) %>
    </table>
    <%- include('footer') %>
</body>
</html>